## Results

## Load and understand our myData Data

In [1]:
from sklearn import datasets
import pandas as pd
import numpy as np

In [2]:
FR = pd.read_csv('FoodRating.csv')

C:\Users\nigel\AppData\Local\Temp\ipykernel_410752\807607964.py:1: DtypeWarning: Columns (9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  FR = pd.read_csv('FoodRating.csv')

In [3]:
FR.dtypes

Business Name                object
Business Type                object
PostCode                     object
RatingValue                   int64
RatingDate                   object
LocalAuthorityName           object
LocalAuthorityCode            int64
Geocode_Lat                 float64
Geocode_Long                float64
Hygiene                      object
Structural                   object
Confidence In Management     object
Business Type Index         float64
PostCode_S                   object
dtype: object

In [4]:
PCD = pd.read_csv('pcd_FR_mean_ethnic.csv')

In [5]:
PCD

,pcd_sect,PostCode_S,pcd_sect_S,RVM_Sector,RVM_Area,RVM_Dist,White,Mixed,Asian,BAC,Other,Postcode,Deprivation
0,AL1 1,AL11AA,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AA,10.0
1,AL1 1,AL11AB,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AB,10.0
2,AL1 1,AL11AD,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AD,10.0
3,AL1 1,AL11AE,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AE,10.0
4,AL1 1,AL11AF,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AF,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376977,YO911,YO911WX,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WX,7.0
2376978,YO911,YO911WY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WY,7.0
2376979,YO911,YO911WZ,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WZ,7.0
2376980,YO911,YO911XY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1XY,7.0
2376981,YO951,YO951BT,YO951,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO95 1BT,8.0

## Lets use the Food Ratings File and lookup the Ratings, Etnicity and Deprivation data

In [6]:
myData = pd.merge(FR, PCD, how = "left", on =['PostCode_S', 'PostCode_S'])

In [7]:
myData.keys()

Index(['Business Name', 'Business Type', 'PostCode', 'RatingValue',
       'RatingDate', 'LocalAuthorityName', 'LocalAuthorityCode', 'Geocode_Lat',
       'Geocode_Long', 'Hygiene', 'Structural', 'Confidence In Management',
       'Business Type Index', 'PostCode_S', 'pcd_sect', 'pcd_sect_S',
       'RVM_Sector', 'RVM_Area', 'RVM_Dist', 'White', 'Mixed', 'Asian', 'BAC',
       'Other', 'Postcode', 'Deprivation'],
      dtype='object')

In [8]:
myData.shape

(396368, 26)

In [9]:
myData.head()

,Business Name,Business Type,PostCode,RatingValue,RatingDate,LocalAuthorityName,LocalAuthorityCode,Geocode_Lat,Geocode_Long,Hygiene,...,RVM_Sector,RVM_Area,RVM_Dist,White,Mixed,Asian,BAC,Other,Postcode,Deprivation
0,1Oak Chilton Day Centre,Hospitals/Childcare/Caring Premises,CO10 2FT,5,2022-09-08,Babergh,297,52.044841,0.751574,0,...,4.731707,4.775296,4.705128,0.970522,0.011791,0.009297,0.005669,0.002721,CO10 2FT,8.0
1,A F C Cornard Dynamos Youth Football,Other catering premises,CO10 0NL,5,2018-03-26,Babergh,297,52.019962,0.753822,0,...,4.790698,4.775296,4.705128,0.981459,0.007700,0.007327,0.002318,0.001196,CO10 0NL,6.0
2,A G Lifestyle,Restaurant/Cafe/Canteen,CO10 2SS,5,2021-11-03,Babergh,297,52.036888,0.731603,5,...,4.731707,4.775296,4.705128,0.970522,0.011791,0.009297,0.005669,0.002721,CO10 2SS,4.0
3,A Leeder Butchers,Retailers - other,CO10 5NZ,5,2022-11-15,Babergh,297,52.029349,0.857566,5,...,4.538462,4.775296,4.705128,0.990278,0.005745,0.002651,0.001326,0.000000,CO10 5NZ,7.0
4,A Slice of New York,Restaurant/Cafe/Canteen,CO10 2AA,5,2022-11-01,Babergh,297,52.037352,0.729080,5,...,4.731707,4.775296,4.705128,0.970522,0.011791,0.009297,0.005669,0.002721,CO10 2AA,4.0

## Pre-process our data

In [10]:
import pandas as pd


df_merge3 = myData
df_merge3["RatingValue"]= df_merge3["RatingValue"].astype('int')
df_merge3["Business Type Index"]= df_merge3["Business Type Index"].astype('category')
df_merge4 = df_merge3.dropna()
print ("After getting rid of the NA's we are left with:", len(df_merge4))

After getting rid of the NA's we are left with: 330611

In [11]:
df_merge4.dtypes

Business Name                 object
Business Type                 object
PostCode                      object
RatingValue                    int32
RatingDate                    object
LocalAuthorityName            object
LocalAuthorityCode             int64
Geocode_Lat                  float64
Geocode_Long                 float64
Hygiene                       object
Structural                    object
Confidence In Management      object
Business Type Index         category
PostCode_S                    object
pcd_sect                      object
pcd_sect_S                    object
RVM_Sector                   float64
RVM_Area                     float64
RVM_Dist                     float64
White                        float64
Mixed                        float64
Asian                        float64
BAC                          float64
Other                        float64
Postcode                      object
Deprivation                  float64
dtype: object

In [12]:
dummy = df_merge4.to_csv("Data.csv", index = False)