## Build a lookup file using the postcode translation table as basis

## first, lets standadise the postocde field by removing spaces

In [39]:
import pandas as pd

pcd = pd.read_csv("PCD.csv")
for index, row in pcd.iterrows():
    PostCode_S = row['pcd'].replace(" ","")
    pcd.loc[index, 'PostCode_S'] = PostCode_S
    pcd_sect_S = row['pcd_sect'].replace(" ","")
    pcd.loc[index, 'pcd_sect_S'] = pcd_sect_S

## get a list of all the postcode sectors

In [40]:
## merge with our data file

In [41]:
FR = pd.read_csv("FoodRating.csv")
# Only select records with rathing 0-5

FR = FR[(FR.RatingValue).isin(["0", "1", "2", "3", "4", "5"])]
FR = FR[(FR.PostCode) != "-"]
FR["RatingValue"]= FR["RatingValue"].astype('int')

In [42]:
len(FR)

396404

In [43]:
pcd_FR = pd.merge(pcd, FR, how = "inner", on =['PostCode_S', 'PostCode_S'])

In [44]:
len(pcd_FR)

382586

In [45]:
#Calculate the mean by PostCode Sector

In [46]:
pcd_FR_mean_sect = pcd_FR.groupby(['pcd_sect'], sort=False)['RatingValue'].mean().reset_index()

pcd_FR_mean_sect2 = pcd_FR_mean_sect.rename(columns={'RatingValue': 'RVM_Sector'})

pcd_working = pd.merge(pcd, pcd_FR_mean_sect2, how = "left", on =['pcd_sect', 'pcd_sect'])

In [47]:
len(pcd_working)

2376982

#Calculate the mean by PostCode Area

In [48]:
pcd_FR_mean_area = pcd_FR.groupby(['pcd_area'], sort=False)['RatingValue'].mean().reset_index()

pcd_FR_mean_area = pcd_FR_mean_area.rename(columns={'RatingValue': 'RVM_Area'})

pcd_working = pd.merge(pcd_working, pcd_FR_mean_area, how = "left", on =['pcd_area', 'pcd_area'])

#Calculate the mean by PostCode District

In [49]:
pcd_FR_mean_dist = pcd_FR.groupby(['pcd_dist'], sort=False)['RatingValue'].mean().reset_index()

pcd_FR_mean_dist = pcd_FR_mean_dist.rename(columns={'RatingValue': 'RVM_Dist'})

pcd_working = pd.merge(pcd_working, pcd_FR_mean_dist, how = "left", on =['pcd_dist', 'pcd_dist'])

In [50]:
pcd_ethnic = pd.read_csv("PCD Ethnic.csv")

In [51]:
pcd_ethnic

     pcd_sect     White     Mixed     Asian       BAC     Other
0       AL1 1  0.868880  0.029342  0.072254  0.023290  0.006235
1       AL1 2  0.785988  0.033420  0.130461  0.039552  0.010578
2       AL1 3  0.861211  0.035894  0.074420  0.023690  0.004786
3       AL1 4  0.897030  0.028574  0.057353  0.011328  0.005715
4       AL1 5  0.760317  0.037454  0.158224  0.029337  0.014668
...       ...       ...       ...       ...       ...       ...
8030   SA73 3  0.991422  0.004194  0.003050  0.000762  0.000572
8031    SA8 3  0.987419  0.005452  0.006291  0.000210  0.000629
8032    SA8 4  0.984975  0.005650  0.007063  0.000642  0.001669
8033    SA9 1  0.983414  0.006457  0.008736  0.001140  0.000253
8034    SA9 2  0.987227  0.006455  0.004120  0.001648  0.000549

[8035 rows x 6 columns]

In [52]:
for index, row in pcd_ethnic.iterrows():
   
    pcd_sect_S = row['pcd_sect'].replace(" ","")
    pcd_ethnic.loc[index, 'pcd_sect_S'] = pcd_sect_S

In [53]:
pcd_ethnic = pcd_ethnic.drop(["pcd_sect"], axis=1)

In [54]:
pcd_working = pd.merge(pcd_working, pcd_ethnic, how = "left", on =['pcd_sect_S', 'pcd_sect_S'])

In [55]:
len(pcd_working)

2376982

In [56]:
pcd_working

,pcd,pcd2,pcds,pcd_sect,pcd_dist,pcd_area,oa21,PostCode_S,pcd_sect_S,RVM_Sector,RVM_Area,RVM_Dist,White,Mixed,Asian,BAC,Other
0,AL1 1AA,AL1 1AA,AL1 1AA,AL1 1,AL1,AL,E00120568,AL11AA,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235
1,AL1 1AB,AL1 1AB,AL1 1AB,AL1 1,AL1,AL,E00120196,AL11AB,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235
2,AL1 1AD,AL1 1AD,AL1 1AD,AL1 1,AL1,AL,E00120196,AL11AD,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235
3,AL1 1AE,AL1 1AE,AL1 1AE,AL1 1,AL1,AL,E00120196,AL11AE,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235
4,AL1 1AF,AL1 1AF,AL1 1AF,AL1 1,AL1,AL,E00120568,AL11AF,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376977,YO911WX,YO91 1WX,YO91 1WX,YO911,YO91,YO,E00185558,YO911WX,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN
2376978,YO911WY,YO91 1WY,YO91 1WY,YO911,YO91,YO,E00185558,YO911WY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN
2376979,YO911WZ,YO91 1WZ,YO91 1WZ,YO911,YO91,YO,E00185558,YO911WZ,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN
2376980,YO911XY,YO91 1XY,YO91 1XY,YO911,YO91,YO,E00185558,YO911XY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN
2376981,YO951BT,YO95 1BT,YO95 1BT,YO951,YO95,YO,E00066196,YO951BT,YO951,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
pcd_deprivation = pd.read_csv("Deprivation Data.csv")

In [58]:
pcd_deprivation

         Postcode  Index of Multiple Deprivation Decile PostCode_S
0        CA12 4AA                                     8    CA124AA
1        CA12 4AB                                     8    CA124AB
2        CA12 4AD                                     8    CA124AD
3        CA12 4AF                                     8    CA124AF
4        CA12 4AG                                     8    CA124AG
...           ...                                   ...        ...
2198124  BN99 9DP                                     2    BN999DP
2198125  BN99 9DQ                                     2    BN999DQ
2198126  BN99 9DR                                     2    BN999DR
2198127  BN99 9DS                                     2    BN999DS
2198128  BN99 9DT                                     2    BN999DT

[2198129 rows x 3 columns]

In [59]:
pcd_working = pd.merge(pcd_working, pcd_deprivation, how = "left", on =['PostCode_S', 'PostCode_S'])

In [60]:
pcd_working = pcd_working.drop(["pcd", "pcd2", "pcds", "pcd_dist", "pcd_area", "oa21"], axis =1 )

In [61]:
pcd_working

,pcd_sect,PostCode_S,pcd_sect_S,RVM_Sector,RVM_Area,RVM_Dist,White,Mixed,Asian,BAC,Other,Postcode,Index of Multiple Deprivation Decile
0,AL1 1,AL11AA,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AA,10.0
1,AL1 1,AL11AB,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AB,10.0
2,AL1 1,AL11AD,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AD,10.0
3,AL1 1,AL11AE,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AE,10.0
4,AL1 1,AL11AF,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AF,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376977,YO911,YO911WX,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WX,7.0
2376978,YO911,YO911WY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WY,7.0
2376979,YO911,YO911WZ,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WZ,7.0
2376980,YO911,YO911XY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1XY,7.0
2376981,YO951,YO951BT,YO951,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO95 1BT,8.0

In [62]:
pcd_working = pcd_working.rename(columns={'Index of Multiple Deprivation Decile': 'Deprivation'})

In [63]:
pcd_working

,pcd_sect,PostCode_S,pcd_sect_S,RVM_Sector,RVM_Area,RVM_Dist,White,Mixed,Asian,BAC,Other,Postcode,Deprivation
0,AL1 1,AL11AA,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AA,10.0
1,AL1 1,AL11AB,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AB,10.0
2,AL1 1,AL11AD,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AD,10.0
3,AL1 1,AL11AE,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AE,10.0
4,AL1 1,AL11AF,AL11,4.326923,4.537937,4.372385,0.86888,0.029342,0.072254,0.02329,0.006235,AL1 1AF,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376977,YO911,YO911WX,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WX,7.0
2376978,YO911,YO911WY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WY,7.0
2376979,YO911,YO911WZ,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1WZ,7.0
2376980,YO911,YO911XY,YO911,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO91 1XY,7.0
2376981,YO951,YO951BT,YO951,NaN,4.670048,NaN,NaN,NaN,NaN,NaN,NaN,YO95 1BT,8.0

In [64]:
data = pcd_working.to_csv("pcd_FR_mean_ethnic.csv", index=False)